<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		
		<div class="card bg-light">
		
			<div class="card-header" th:text="${titulo}"></div>
		
			<ul class="list-group">
					
				    <li class="list-group-item" th:text="${arriendohabitacion.nhabitacion}"></li>
					<li class="list-group-item" th:text="${arriendohabitacion.observacion}"></li>
					<li class="list-group-item" th:text="${arriendohabitacion.createAt}"></li>
				
				</ul>

				
				
					
					







			</div>
		</div>
		

	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>